<%= render partial: "partials/header" %>
<main id="posts-show">
	<div class="inner">
		<div class="img" style="background-image: url(<%= @post.image.to_s %>);"></div>
		<div class="details">
		  <%=link_to user_path(@post.user_id) do %>
		　  <div class="user_name">Contributor★<%=@post.user.name%></div>
		  <% end %>
			<div class="content">
				<%= @post.content %>
			</div>

			<footer>
				<% if @like %>
					<a data-post-id=<%= @post.id %> class="dislike" href="">食べたい</a> 
				<% else %>
					<a data-post-id=<%= @post.id %> class="like" href="">食べたい</a> 
				<% end %>
			</footer>
		</div>
	</div>
</main>
<%= render partial: "partials/footer" %>