
<main id="signup-form">
	<div class="inner">
		<h2>新規登録</h2>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= render "devise/shared/error_messages", resource: resource %>
			
			<div class="field">
				<div class="email">
					<%= f.label :email,"メールアドレス" %><br />
					<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
				</div>
			</div>

			<div class="field">
				<div class="password">
					<%= f.label :password, "パスワード" %>
					<% if @minimum_password_length %>
					<em>(<%= @minimum_password_length %>文字以上)</em>
					<% end %><br />
					<%= f.password_field :password, autocomplete: "new-password" %>
				</div>
			</div>

			<div class="field">
				<div class="password-confirmation">
					<%= f.label :password_confirmation, "パスワード(確認用)" %><br />
					<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
				</div>
			</div>

			<div class="actions">
				<div><%= f.submit "新規登録", class:"login-button" %></div>
			</div>
		<% end %>

		<%= render "users/shared/links" %>
	</div>
</main>
